* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f1f3f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: 80vh;
    width: 800px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin-top: 50px;
}

/* Left side */
.left-box {
    background-color: #2874f0;
    color: white;
    flex: 1;
    padding: 40px;
}

.left-box h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.left-box p {
    font-size: 15px;
    line-height: 1.5;
}

.left-box img {
    color: white;
    width: 200px;
    margin-top: 100px;
    margin-left: 50px;
}

/* Right side */
.right-box {
    flex: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
}

label {
    font-weight: 600;
    color: gray;
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    margin-bottom: 15px;
}

input:focus {
    border-color: #2874f0;
}

.terms {
    font-size: 12px;
    color: #555;
    margin-bottom: 20px;
}

.terms a {
    color: #2874f0;
    text-decoration: none;
}

button {
    width: 100%;
    background-color: #ff6d00;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4f00;
}

.signup {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.signup a {
    color: #2874f0;
    text-decoration: none;
    font-weight: 500;
}



/* footer */
footer {
    background-color: rgba(0, 0, 0, 0.971);
    display: flex;
    justify-content: space-evenly;
    padding: 30px 50px;
}

.footer-leftside {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-column h1 {
    font-size: 14px;
    color: gray;
    font-weight: 300;
}

.footer-leftside li {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 12px;
    row-gap: 4px;
}

.footer-leftside li a {
    color: white;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;

}

.footer-rightside {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footer-mailus {
    display: flex;
    flex-direction: column;
}

.mailus-content h1 {
    font-size: 14px;
    color: gray;
    font-weight: 300;
}

.mailus-content p {
    color: white;
    font-size: 13px;
    font-weight: 400;
    row-gap: 4px;
    margin-top: 12px;
}

.mailus-social h1 {
    font-size: 12px;
    color: gray;
    font-weight: 600;
    margin-top: 16px;
}

.mailus-social img {
    height: 20px;
    width: 20px;
    margin-top: 11px;

}

.footer-office-address h1 {
    font-size: 14px;
    color: gray;
    font-weight: 300;
}

.footer-office-address p {
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-top: 12px;
    row-gap: 4px;
}

.line {
    width: 1px;
    height: 180px;
    background-color: gray;
    margin-right: 80px;
}

hr {
    width: 100%;
    height: 0.01px;
    background-color: rgb(125, 124, 124);
}

.last-footer-part {
    background-color: rgba(0, 0, 0, 0.971);
    display: flex;
    justify-content: space-evenly;
    padding: 15px 25px;
    column-gap: 6px;
}

.last-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 6px;
    margin-top: 12px;
}

.last-part img {
    height: 15px;
    width: 15px;
    column-gap: 8px
}

.last-part p {
    color: white;
    font-size: 12px;
    font-weight: 600;
    column-gap: 6px;
}